button {
  background-color: red;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
