@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Oswald&family=Poppins:wght@600&family=Public+Sans&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
.liste a {
  font-size: 1em;
  margin-left: 20px;
}

.logo {
  border-radius: 50%;
  width: 40px;
  height: 35px;
}

